#infografia {
  width: 600px;
}

.section-home {
  width: 70%;
}

.section-home img {
  display: flex;
  justify-content: center;
}

.card-home-padre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-home {
  width: 450px;
  height: 450px;
  margin: 0;
}

.card-zapatillas {
  box-shadow: 13px 13px #01132b;
  background-color: lightgray;
  margin: 5%;
}

.button-yellow {
  width: 150px;
  height: 45px;
  border-radius: 30px;
  background-color: #ffea00;
  font-size: 19px;
  text-align: center;
  font-weight: bolder;
}

#button-conocelas {
  margin-top: 60px;
}
