.card-news {
  width: 450px;
  height: 418px;
  margin: 0;
}

.card-news-padre {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1599px){
  .card-news{
    width: 450px;
    height: 346px;
    margin: 0;
  }
}
@media screen and (max-width: 1200px){
  .card-news{
  width: 450px;
    height: 320px;
   margin: 0;
  }
  }
  @media screen and (max-width: 810px){
    .card-news{
    width: 450px;
      height: 272px;
     margin: 0;
    }
    }
    @media screen and (max-width: 600px){
      .card-news{
      width: 450px;
      height: 240px;
       margin: 0;
      }
      }