body{
    /* color de fondo solo para testear */
    background-color: rgb(202, 202, 202);
}

/* HEADER */

/* Hacen "flotar" al header por sobre el resto */
header{
    position: relative;
}
header>div{
    position: absolute;
    width: 100%;
}

/*la parte superior del header*/
.header-superior{
    width: 70%;
    height: 75px;
    margin: 0px auto;
    display: flex;
    align-items: center;
}
.header-superior>div{
    margin-left: auto;
    display: flex;
    align-items: center;
}

.logotipo{
    width: 200px;
}
.control-usuario{
    background-color: rgb(240, 240, 240);
    width: 65px;
    height: 28px;
    border-radius: 14px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.control-usuario .material-icons{
    color: rgb(78, 137, 225);
}

#carrito, #selector-lenguaje{
    width: 28px;
    height: 28px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(240, 240, 240);
}
#num-carrito{
    position: relative;
    bottom: 0px;
    top: 0px;
}
#num-carrito b{
    position: absolute;
    top: -6px;
    left: -16px;
    color: black;
    font-size: 12px;
}

/*la parte inferior donde está el nav*/
.navegacion-principal{
    background-color: #02142c;
    width: 60%;
    height: 32px;
    margin: 0px auto;
    border-radius: 16px;
    display: flex;
    align-items: center;
}
.navegacion-principal ul{
    width: 97%;
    display: flex;
    justify-content: space-evenly;
}
.navegacion-principal a{
    line-height: 32px;
    font-weight: bold;
    color: rgb(240, 240, 240);
}
.navegacion-principal a:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

.busqueda{
    margin-left: auto;
    margin-right: 2px;
    line-height: normal;
    background: linear-gradient(to right, rgb(32, 54, 140), rgb(78, 137, 225));
    width: 28px;
    height: 28px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}



/* FOOTER */
.page-footer{
    background-color: #02142c;
}

.page-footer p{
    font-size: smaller;
}
.page-footer .material-icons{
    margin-right: 5px;
}

.social-media img{
    width: 24px;
    height: 24px;
    margin-right: 5px;
}
