body {
  /* color de fondo solo para testear */
  background-color: rgb(202, 202, 202);
}

/* HEADER */

/* Hacen "flotar" al header por sobre el resto */
header {
  position: relative;
  z-index: 10;
}
header > div {
  position: absolute;
  width: 100%;
}

/*la parte superior del header*/
.header-superior {
  width: 70%;
  height: 75px;
  margin: 0px auto;
  display: flex;
  align-items: center;
}
.header-superior > div {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.logotipo {
  width: 200px;
}
.control-usuario {
  background-color: rgb(240, 240, 240);
  width: 65px;
  height: 28px;
  border-radius: 14px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.control-usuario .material-icons {
  color: rgb(78, 137, 225);
}

#carrito,
#selector-lenguaje {
  width: 28px;
  height: 28px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(240, 240, 240);
}
#num-carrito {
  position: relative;
  bottom: 0px;
  top: 0px;
}
#num-carrito b {
  position: absolute;
  top: -6px;
  left: -16px;
  color: black;
  font-size: 12px;
}

/*la parte inferior donde está el nav*/

.navegacion-principal {
  background-color: #02142c;
  width: 60%;
  height: 38px;
  margin: 0px auto;
  border-radius: 19px;
  display: flex;
  align-items: center;
}
.navegacion-principal ul {
  width: 97%;
  display: flex;
  justify-content: space-evenly;
}
.navegacion-principal a {
  line-height: 34px;
  font-weight: bold;
  color: rgb(240, 240, 240);
  padding: 0px 20px;
}
.navegacion-principal a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.navegacion-principal .pag-actual {
  color: #ffffff;
  border-radius: 30px;
  background: linear-gradient(to right, rgb(32, 54, 140), rgb(78, 137, 225));
}

.busqueda {
  margin-left: auto;
  margin-right: 2px;
  line-height: normal;
  background: linear-gradient(to right, rgb(32, 54, 140), rgb(78, 137, 225));
  width: 34px;
  height: 34px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* FOOTER */
.page-footer {
  background-color: #02142c;
}

.page-footer p {
  font-size: smaller;
}
.page-footer .material-icons {
  margin-right: 5px;
}

.social-media img {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

/* Posición texto de slider */
.caption {
  top: 30% !important;
}

/* Posición indicadores de slider */
.slider .indicators {
  bottom: 2%;
  z-index: 11;
}

/* Tamaño slider */
.slider,
.slides {
  height: 600px !important;
}

/* Quito margen inferior a las filas */
.row {
  margin-bottom: 0;
}

.degradado {
  width: 100%;
  height: 150px;
  background: linear-gradient(to right, rgb(32, 54, 140), rgb(78, 137, 225));
}

/* MAIN */

.seccion-newsletter {
  background-color: #ffea00;
}

.seccion-newsletter p {
  font-weight: bold;
}

.seccion-newsletter h6 {
  float: right;
  border: 10px solid transparent;
  border-radius: 30px;
  margin-top: 15px;
  inline-size: auto;
  background-color: #f28600;
  font-weight: bold;
}
/* EMPIEZA LA SECCION DE NOTICIAS*/
.noticias-section {
  background-color: #ffffff;
}

.card {
  background: linear-gradient(to right, rgb(32, 54, 140), rgb(78, 137, 225));
  box-shadow: 13px 13px #01132b;
  margin-top: 10px;
  margin-bottom: 50px;
}
.cardright {
  background: linear-gradient(to right, rgb(32, 54, 140), rgb(78, 137, 225));
  box-shadow: 13px 13px #01132b;
  margin-top: 10px;
  margin-bottom: 50px;
}

.card .card-title {
  font-weight: bolder;
}

.card h6 {
  width: 150px;
  border: 10px solid transparent;
  border-radius: 30px;
  background-color: #ffea00;
  font-size: 25px;
  text-align: center;
  font-weight: bolder;
}

.seccion-newsletter-medio {
  background-color: #ffea00;
}

.seccion-newsletter-medio p {
  font-size: small;
  text-align: center;
  font-weight: bolder;
}

.seccion-newsletter-medio h6 {
  width: 200px;
  border: 10px solid transparent;
  border-radius: 30px;
  background-color: #f28600;
  font-weight: bolder;
  font-size: 30px;
  text-align: center;
  margin-left: 41%;
}
.card-newsletter .card-title {
  padding-top: 80px;
  font-size: 35px;
  padding-bottom: 10px;
}

.card-newsletter h5 {
  padding-bottom: 85px;
}
.card-newsletter .card-content {
  margin-left: 30px;
}

.card-newsletter {
  margin-top: 10px;
  margin-bottom: 20px;
}

#infografia {
  width: 120%;
}

@media screen and (max-width: 1599px) {
  .card .card-title {
    font-size: 15px;
  }
  .card .card-content {
    font-size: 5px;
    text-justify: auto;
  }
  .cardright {
    background: linear-gradient(to right, rgb(32, 54, 140), rgb(78, 137, 225));
    box-shadow: 13px 13px #01132b;
    margin-top: 10px;
  }
  .cardright .card-content {
    text-justify: auto;
  }
  .cardright .card-title {
    font-size: 20px;
  }

  .card-newsletter .card-title {
    padding-top: 10px;
    font-size: 35px;
    padding-bottom: 5px;
    text-justify: auto;
  }

  .card-newsletter .card-content {
    margin-left: 30px;
  }
  .card-newsletter h5 {
    padding-bottom: 5px;
  }
  .seccion-newsletter-medio h6 {
    width: 200px;
    border: 10px solid transparent;
    border-radius: 30px;
    background-color: #f28600;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    margin-left: 250px;
  }
  .seccion-newsletter h6 {
    text-align: center;
    float: right;
    border: 10px solid transparent;
    border-radius: 30px;
    margin-top: 15px;
    inline-size: auto;
    background-color: #f28600;
    font-weight: bold;
  }
}
@media screen and (max-width: 992px) {
  .card .card-title {
    font-size: 15px;
  }
  .card .card-content {
    font-size: 5px;
    text-justify: auto;
  }
  .cardright {
    background: linear-gradient(to right, rgb(32, 54, 140), rgb(78, 137, 225));
    box-shadow: 13px 13px #01132b;
    margin-top: 10px;
  }
  .cardright .card-content {
    text-justify: auto;
  }
  .cardright .card-title {
    font-size: 20px;
  }

  .card-newsletter .card-title {
    padding-top: 10px;
    font-size: 35px;
    padding-bottom: 5px;
    text-justify: auto;
  }

  .card-newsletter .card-content {
    margin-left: 30px;
  }
  .card-newsletter h5 {
    padding-bottom: 48px;
  }
  .seccion-newsletter-medio h6 {
    width: 200px;
    border: 10px solid transparent;
    border-radius: 30px;
    background-color: #f28600;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    margin-left: 315px;
  }
  .seccion-newsletter h6 {
    text-align: center;
    float: right;
    border: 10px solid transparent;
    border-radius: 30px;
    margin-top: 15px;
    inline-size: auto;
    background-color: #f28600;
    font-weight: bold;
  }
}
